Last login: Sun Nov  2 21:03:06 on ttys000
swejanreddy@MacBook-Air ~ % >....                                               
    display: inline-block;
    background: var(--color-accent);
    color: var(--color-bg);
    padding: 8px 12px;
    margin: 5px;
    border-radius: 3px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 0 5px var(--color-accent);
}

/* --- Footer --- */
footer {
    padding: 20px;
    background-color: var(--color-dark-bg);
    text-align: center;
    border-top: 2px solid var(--color-accent);
    font-size: 0.9em;
}

footer a {
    color: var(--color-accent);
}
